<div class="side-menu">
    <ul>
        <li routerLinkActive="sactive">
            <a  routerLink="/dashboard">Dashboard</a>
        </li>
        
</ul>
            <!-- <div class="accordion" id="sidemenudopdown">
                <div class="card">
                    <div class="card-header" id="m0">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                data-target="#cm0" aria-expanded="true" aria-controls="cm0">
                                Users<i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="cm0" class="collapse" aria-labelledby="m0" data-parent="#sidemenudopdown">
                        <div class="card-body">
                            <ul>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/view-user">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>User</a>
                                </li>
                               <li routerLinkActive="sactive">
                                    <a routerLink="/view-admins">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Admin</a>
                                </li>
                              
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="m1">
                        <h2 class="mb-1">
                            <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                data-target="#cm1" aria-expanded="true" aria-controls="cm1">
                                Master<i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="cm1" class="collapse" aria-labelledby="m1" data-parent="#sidemenudopdown">
                        <div class="card-body">
                            <ul>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/view-categorie">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Categories</a>
                                </li>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/view-banner">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Banners</a>
                                </li>
                               <li routerLinkActive="sactive">
                                    <a routerLink="/terms-and-conditions">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>T and C</a>
                                </li>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/privacy-policy">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Privacy Policy</a>
                                </li>
                                 <li routerLinkActive="sactive">
                                    <a routerLink="/contact">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Contact</a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
             

                
                <div class="card">
                    <div class="card-header" id="m2">
                        <h2 class="mb-2">
                            <button class="btn btn-link btn-block" type="button" data-toggle="collapse"
                                data-target="#cm2" aria-expanded="true" aria-controls="cm2">
                                Orders<i class="fa fa-angle-right float-right" aria-hidden="true"></i>
                            </button>
                        </h2>
                    </div>

                    <div id="cm2" class="collapse" aria-labelledby="m2" data-parent="#sidemenudopdown">
                        <div class="card-body">
                            <ul>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/pending-orders">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Pending</a>
                                </li>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/confirmed-orders">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Confirmed</a>
                                </li>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/completed-orders">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Completed</a>
                                </li>
                                <li routerLinkActive="sactive">
                                    <a routerLink="/cancelled-orders">
                                        <i class="fa fa-circle pr-1" aria-hidden="true"></i>Cancelled</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <li routerLinkActive="sactive">
                    <a  routerLink="/account-details">Account Details</a>
                </li>
               
                          
                            
                        
                        
            </div> -->
       
     <ul>
            <li routerLinkActive="sactive">
                <a routerLink="/view-client">
                    <i  aria-hidden="true"></i>Client</a>
            </li>
            <li routerLinkActive="sactive">
                <a routerLink="/list-event">
                    <i  aria-hidden="true"></i>Events</a>
            </li>
    </ul>
</div>
             