<div class="page-content-header">
    <h3>{{name}} Details</h3>
</div>
<div class="page-content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card overall-contentblock">
                    <div class="card-body">
                        <form #masterForm='ngForm' novalidate (ngSubmit)="formSubmit(masterForm)">
                            <div class="form-group form-row">
                                <label class="col-md-2 col-sm-3 col-form-label col-form-label-md text-sm-right" for="normal-input-1">Type</label>                     
                                <div class="col-md-8 col-sm-8 mb-3">
                                    <input type="text" class="form-control form-control-sm"  name='type'
                                        [(ngModel)]="master.type" #type="ngModel" required disabled>
                                    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="form-text text-danger">
                                        <div *ngIf="type.errors.required"> Type Name is required. </div>
                                    </div>
                                </div>
                         </div>
                    
                        <div class="form-group form-row">
                            <label class="col-md-2 col-sm-3 col-form-label col-form-label-md text-sm-right" for="normal-input-1">Description</label>                     
                            <div class="col-md-8 col-sm-8 mb-3">
                            <!-- <gx-card card-title="FullPage Editor"> -->
                                <ck-editor class="mb-4"
                                           name="categorieLongDescription"
                                           [(ngModel)]="master.description"
                                            #description="ngModel"
                                           [config]="config"
                                           required
                                           [fullPage]="fullPage"></ck-editor>
                              <!-- </gx-card> -->
                              <div *ngIf="description.invalid && (description.dirty || description.touched)"
                              class="form-text text-danger">
                              <div *ngIf="description.errors.required">Description is required. </div>
                          </div>
                              </div>
                        </div>
                        <div class="row">
                            <button class="btn btn-primary" type="button" disabled *ngIf="uploadsStatus" style="margin-left: 40%;" >
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Loading...
                              </button>
                            <button class="btn btn-primary mr-2" style="margin-left: 40%;" [disabled]="masterForm.invalid"  *ngIf="!uploadsStatus">
                                Submit</button>
                                <a class="btn btn-danger" (click)="backClicked()">Back</a>
                        </div>
                        </form>   
                       
                 </div>
               </div>
               </div>
        </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-body">
     <img  src="{{selectedObj.path}}" width="100%" height="100%" alt="subCategories Image"/>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="c(selectedObj)">CLose</button>
    </div>
  </ng-template> 